services:
  
  # Backend Service

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_sentify
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./backend/app:/app/app
    networks:
      - sentify_network
    restart: unlees-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  # Frontend Service

networks:
  sentify_network:
    driver: bridge