services:

  # Backend Service

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_sentify
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./backend:/app
    networks:
      - sentify_network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
  # Frontend Service
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_sentify
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - sentify_network
    depends_on:
      - backend
    restart: unless-stopped

networks:
  sentify_network:
    driver: bridge
